@model WaffleDetailsViewModel

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Редактирование вафли</title>
</head>
<body>
    <div>
        <form action="/Admin/Waffle/Update" method="post">
            <input type="hidden" asp-for="Waffle.Id" value="@Model.Waffle.Id" />
            <input type="hidden" name="waffleId" value="@Model.Waffle.Id" />

            <label asp-for="Waffle.Name">Название:</label>
            <input asp-for="Waffle.Name" class="form-control" value="@Model.Waffle.Name" name="Name" />

            <label asp-for="Waffle.CountInPackage">Количество в пачке:</label>
            <input asp-for="Waffle.CountInPackage" class="form-control" value="@Model.Waffle.CountInPackage" name="CountInPackage" />

            <label asp-for="Waffle.Weight">Вес:</label>
            <input asp-for="Waffle.Weight" class="form-control" value="@Model.Waffle.Weight" name="Weight" />

            <label asp-for="Waffle.Description">Описание:</label>
            <input asp-for="Waffle.Description" class="form-control" value="@Model.Waffle.Description" name="Description" />

            <label asp-for="Waffle.Price">Цена:</label>
            <input asp-for="Waffle.Price" class="form-control" value="@Model.Waffle.Price" name="Price" />

            <label asp-for="Waffle.ImageUrl">URL на картинку:</label>
            <input asp-for="Waffle.ImageUrl" class="form-control" value="@Model.Waffle.ImageUrl" name="ImageUrl" />

            <label asp-for="Waffle.TypeId">Тип вафли:</label>
            <select asp-for="Waffle.TypeId" class="form-control" name="TypeId">
                @foreach (var type in ViewBag.WaffleTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>

            <label asp-for="Waffle.FillingTypeId">Тип наполнения:</label>
            <select asp-for="Waffle.FillingTypeId" class="form-control" name="FillingTypeId">
                @foreach (var type in ViewBag.FillingTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>

            <button type="submit">Обновить вафлю</button>
        </form>

        <div class="center-container">
            <a class="center-button" href="/Admin/Waffle/Delete?waffleId=@Model.Waffle.Id" >Удалить вафлю</a>
        </div>
    </div>
</body>
</html>
