@model WafflePageViewModel

@{
    int prevPage = (Model.Waffles.CurrentPage == 1) ? 1 : Model.Waffles.CurrentPage - 1;
    int nextPage = (Model.Waffles.CurrentPage == Model.Waffles.TotalPages) ? Model.Waffles.TotalPages : Model.Waffles.CurrentPage + 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <h5 class="card-header">Сортировка</h5>
                <div class="card-body">
                    <form asp-controller="Waffle" asp-action="Index" method="post">
                        <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                        <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                        <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                        <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                        <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="None" value="@SortingParameters.None" @(Model.CurrentSortingParameters == SortingParameters.None ? "checked" : "")>
                            <label class="form-check-label" for="None">
                                Без сортировки
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="PriceDecrease" value="@SortingParameters.PriceDecrease" @(Model.CurrentSortingParameters == SortingParameters.PriceDecrease ? "checked" : "")>
                            <label class="form-check-label" for="PriceDecrease">
                                По уменьшению цены
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="PriceIncrease" value="@SortingParameters.PriceIncrease" @(Model.CurrentSortingParameters == SortingParameters.PriceIncrease ? "checked" : "")>
                            <label class="form-check-label" for="PriceIncrease">
                                По увеличению цены
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="CountDecrease" value="@SortingParameters.CountDecrease" @(Model.CurrentSortingParameters == SortingParameters.CountDecrease ? "checked" : "")>
                            <label class="form-check-label" for="CountDecrease">
                                По уменьшению количества
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="CountIncrease" value="@SortingParameters.CountIncrease" @(Model.CurrentSortingParameters == SortingParameters.CountIncrease ? "checked" : "")>
                            <label class="form-check-label" for="CountIncrease">
                                По увеличению количества
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="WeightDecrease" value="@SortingParameters.WeightDecrease" @(Model.CurrentSortingParameters == SortingParameters.WeightDecrease ? "checked" : "")>
                            <label class="form-check-label" for="WeightDecrease">
                                По уменьшению веса
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="WeightIncrease" value="@SortingParameters.WeightIncrease" @(Model.CurrentSortingParameters == SortingParameters.WeightIncrease ? "checked" : "")>
                            <label class="form-check-label" for="WeightIncrease">
                                По увеличению веса
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="NameDecrease" value="@SortingParameters.NameDecrease" @(Model.CurrentSortingParameters == SortingParameters.NameDecrease ? "checked" : "")>
                            <label class="form-check-label" for="NameDecrease">
                                От Я до А
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sortingParameters" id="NameIncrease" value="@SortingParameters.NameIncrease" @(Model.CurrentSortingParameters == SortingParameters.NameIncrease ? "checked" : "")>
                            <label class="form-check-label" for="NameIncrease">
                                От А до Я
                            </label>
                        </div>

                        <button type="submit" class="btn btn-secondary w-100" >
                            Применить
                        </button>
                    </form>
                </div>
            </div>
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <h5 class="card-header">Фильтрация</h5>
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <form asp-controller="Waffle" asp-action="Index" method="post">
                            <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                            <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                            <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                            <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                            <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                            <input type="text" name="waffleName" value="@Model.CurrentWaffleName" style="width: 200px; height: 30px;" />

                            <button class="btn btn-secondary ml-auto" style="margin-left: 5px; height: 30px;">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-2 border-2">
                        <ul class="nav mb-3">
                            <li class="nav-item dropdown mb-3">
                                <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Тип вафли: @Model.CurrentWaffleTypeName</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form asp-controller="Waffle" asp-action="Index" method="post">
                                            <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                            <input type="hidden" name="waffleTypeId" value="@null" />
                                            <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                                            <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                                            <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                                            <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                            <button type="submit" class="dropdown-item">Все</button>
                                        </form>
                                    </li>
                                    @foreach (var item in Model.WaffleTypes)
                                    {
                                        <li>
                                            <form asp-controller="Waffle" asp-action="Index" method="post">
                                                <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                                <input type="hidden" name="waffleTypeId" value="@item.Id" />
                                                <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                                                <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                                                <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                                                <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                                <button type="submit" class="dropdown-item">@item.Name</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li class="nav-item dropdown mb-3">
                                <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Тип начинки: @Model.CurrentFillingTypeName</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form asp-controller="Waffle" asp-action="Index" method="post">
                                            <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                            <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                                            <input type="hidden" name="fillingTypeId" value="@null" />
                                            <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                                            <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                                            <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                            <button type="submit" class="dropdown-item">Все</button>
                                        </form>
                                    </li>
                                    @foreach (var item in Model.FillingTypes)
                                    {
                                        <li>
                                            <form asp-controller="Waffle" asp-action="Index" method="post">
                                                <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                                <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                                                <input type="hidden" name="fillingTypeId" value="@item.Id" />
                                                <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                                                <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                                                <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                                <button type="submit" class="dropdown-item">@item.Name</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <label for="minPriceInput" class="form-label">Мин. цена:</label>
                        <div class="d-flex">
                            <form asp-controller="Waffle" asp-action="Index" method="post">
                                <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                                <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                                <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                                <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                <input type="number" name="minPrice" value="@Model.CurrentMinPrice" min="0" max="100" style="width: 100px; height: 30px; margin-right: 5px;" />

                                <button type="submit" class="btn btn-secondary" style="height: 30px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="maxPriceInput" class="form-label">Макс. цена:</label>
                        <div class="d-flex">
                            <form asp-controller="Waffle" asp-action="Index" method="post">
                                <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                                <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                                <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                                <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                <input type="number" name="maxPrice" value="@Model.CurrentMaxPrice" min="0" max="100" style="width: 100px; height: 30px; margin-right: 5px;" />

                                <button type="submit" class="btn btn-secondary" style="height: 30px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    <a class="btn btn-secondary w-100" asp-controller="Waffle" asp-action="Index">Сбросить фильтрацию</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                @foreach (var item in Model.Waffles.Items)
                {
                    <div class="col mb-4">
                        <div class="card h-100 text-center d-flex flex-column">
                            <div class="card-body">
                                <img class="card-img-top h-70 img-fluid" src="@item.ImageUrl" alt="Card image cap">
                                <h5 class="card-title">@item.Name</h5>
                            </div>
                            <div class="card-footer mt-auto">
                                <a class="btn btn-primary m-1">
                                    <i class="fas fa-shopping-cart"></i> Добавить в корзину
                                </a>
                                <p class="card-text">@item.Price $</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <nav aria-label="Page navigation" class="my-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <form asp-controller="Waffle" asp-action="Index" method="post">
                            <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                            <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                            <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                            <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                            <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                            <input type="hidden" name="pageNow" value="@prevPage" />
                            <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                            <button type="submit" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </form>
                    </li>

                    @for (int i = 0; i < Model.Waffles.TotalPages; ++i)
                    {
                        <li class="page-item @(Model.Waffles.CurrentPage == i+1 ? "active":"")">
                            <form asp-controller="Waffle" asp-action="Index" method="post">
                                <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                                <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                                <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                                <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                                <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                                <input type="hidden" name="pageNow" value="@(i+1)" />
                                <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                                <button type="submit" class="page-link" aria-label="Next">
                                    @(i + 1)
                                </button>
                            </form>
                        </li>
                    }

                    <li class="page-item">
                        <form asp-controller="Waffle" asp-action="Index" method="post">
                            <input type="hidden" name="waffleName" value="@Model.CurrentWaffleName" />
                            <input type="hidden" name="waffleTypeId" value="@Model.CurrentWaffleTypeId" />
                            <input type="hidden" name="fillingTypeId" value="@Model.CurrentFillingTypeId" />
                            <input type="hidden" name="minPrice" value="@Model.CurrentMinPrice" />
                            <input type="hidden" name="maxPrice" value="@Model.CurrentMaxPrice" />
                            <input type="hidden" name="pageNow" value="@nextPage" />
                            <input type="hidden" name="sortingParameters" value="@Model.CurrentSortingParameters" />

                            <button type="submit" class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<style>
    .form-check-input:checked {
        background-color: gray;
        border-color: gray;
    }
</style>