<!DOCTYPE html>
<html>
<head>
    <title>Страница Администратора</title>
    <link rel="stylesheet" href="~/css/personalArea.css"> <!-- Путь к файлу стилей -->
</head>
<body>
<header>
    <h1>Страница Администратора</h1>
    <div class="auth-buttons">
        <a class="btn btn-auth" href="@Url.Action("GetOrders", "Order", new {area="Admin"})">Обрабатывать заказы</a>
            <a class="btn btn-auth" href="@Url.Action("GetAllWaffles", "Waffle", new {area="Admin"})">Просмотреть вафли</a>
            <a class="btn btn-auth" href="@Url.Action("GetDevices", "Device", new {area="Admin"})">Просмотреть категории</a>
            <a class="btn btn-auth" href="@Url.Action("GetAllUsers", "User", new {area="Admin"})">Просмотреть пользователей</a>
        <a class="btn btn-auth" href="@Url.Action("Index", "Waffle")">Выйти</a>
    </div>
</header>
@RenderBody()
</body>
</html>